@import 'src/assets/styles/basic';

.paragraph {
  margin: 0;
  padding-bottom: 2rem;
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: $light;

  &Info {
    font-size: 2.1rem;
    font-weight: $semibold;
    color: $grey200;
  }
}
