@import 'src/assets/styles/basic';

.paragraph {
  margin: 0;
  padding-bottom: 2rem;
  padding-right: 6rem;
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: $light;
  line-height: 1.8;

  &Info {
    font-size: 2.1rem;
    font-weight: $semibold;
    color: $grey300;
  }

  &Date {
    font-size: 1.5rem;
    font-weight: $semibold;
    color: $grey400;
  }
}
