@import 'src/assets/styles/basic';

.button {
  display: block;
  font-family: 'Montserrat', sans-serif;
  outline: none;
}

.primary {
  background-color: $primary;
  width: 220px;
  height: 47px;
  border: none;
  border-radius: 50px;
  font-weight: $semibold;
  font-size: 1.6rem;
  transform: scale(1, 1);
  transition: transform 0.5s ease-in-out;

  &:hover {
    transform: scale(1.1, 1.1);
    transition: transform 0.5s ease-in-out;
  }
}

.secondary {
  @extend .primary;
  background-color: $grey200;
  width: 105px;
  height: 30px;
  font-size: 10px;
}

.asPlainText {
  border: none;
  background: transparent;
  margin: 0;
  padding-top: 1rem;
  font-size: 1.3rem;
  font-weight: $bold;
  &:hover {
    text-decoration: underline;
  }
}

.upperCase {
  text-transform: uppercase;
}

.twitters {
  background-color: $secondary;
}

.articles {
  background-color: $tertiary;
}

.notes {
  background-color: $primary;
}
