@import 'src/assets/styles/basic';

.buttonIcon {
  position: fixed;
  right: 4.5rem;
  bottom: 3.4rem;
  width: 6.7rem;
  height: 6.7rem;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  z-index: 999;
  outline: none;
}

.active {
  @extend .buttonIcon;
  background-color: $white;
  border-radius: 20px;
}

.twitters {
  background-color: $secondary;
}

.articles {
  background-color: $tertiary;
}

.notes {
  background-color: $primary;
}
