@import 'src/assets/styles/basic';

.button {
  display: block;
  font-family: 'Montserrat', sans-serif;
}

.primary {
  background-color: $primary;
  width: 220px;
  height: 47px;
  border: none;
  border-radius: 50px;
  font-weight: $semibold;
  font-size: 1.6rem;
}

.secondary {
  @extend .primary;
  background-color: $grey200;
  width: 105px;
  height: 30px;
  font-size: 10px;
}

.asPlainText {
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
  font-weight: $bold;
  &:hover {
    text-decoration: underline;
  }
}

.upperCase {
  text-transform: uppercase;
}

.twitter {
  background-color: $secondary;
}

.article {
  background-color: $tertiary;
}

.note {
  background-color: $primary;
}
