@import 'src/assets/styles/basic';

.heading {
  margin: 0;
  font-size: 2.4rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: $bold;
  line-height: 5rem;

  &:first-letter {
    text-transform: capitalize;
  }

  &XL {
    @extend .heading;

    font-size: 4rem;
    font-weight: $semibold;
  }
}
