@import 'src/assets/styles/basic';

.wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 15.3rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.icons {
  margin-top: -30vh;
}

.twitter {
  background-color: $secondary;
}

.article {
  background-color: $tertiary;
}

.note {
  background-color: $primary;
}
